table, th, td {
  border: 5px solid rgb(218, 180, 15);
}


.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: rgb(78, 43, 43);
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #8b8585;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #acb3b3;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #189786;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  

  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #111113;
  }
}